<?xml version="1.0" ?>

<plugin>

    <extension id="openllet.reasoner.factory"
               point="org.protege.editor.owl.inference_reasonerfactory">
        <name value="Openllet"/>
        <class value="openllet.protege.plugin.pellet.PelletReasonerFactory"/>
    </extension>
   
   <extension id="openllet.incremental.reasoner.factory"
               point="org.protege.editor.owl.inference_reasonerfactory">
        <name value="Openllet (Incremental)"/>
        <class value="openllet.protege.plugin.incremental.PelletIncrementalReasonerFactory"/>
    </extension>  

</plugin>
